/*Здесь можно писать свои стили*/
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-image: url(../images/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    max-height: 100vh;
    color: #fff;
}

.container {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #2c2b2b;
}
.title {
    font-size: 72px;
    font-weight: 500;
    line-height: 86px;
}

.text {
    font-size: 28px;
    font-weight: 300;
    line-height: 36px;
}

